//- .navbar.navbar-light.fixed-top.navbar-expand-lg
//-   .container
//-     a.navbar-brand(href='/')
//-       i.fas.fa-cube
//-       | Project name
//-     button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//-       span.sr-only Toggle navigation
//-       span.navbar-toggler-icon
//-     .collapse.navbar-collapse
//-       ul.nav.navbar-nav
//-         li.nav-item(class=(title === 'Home') ? 'active' : undefined)
//-           a.nav-link(href='/') Home
//-         li.nav-item(class=(title === 'API Examples') ? 'active' : undefined)
//-           a.nav-link(href='/api') API Examples
//-         li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
//-           a.nav-link(href='/contact') Contact
//-         li.nav-item(class=(title === 'Status') ? 'active' : undefined)
//-           a.nav-link(href='/status') Status
//-       ul.nav.navbar-nav.ml-auto
//-         if !user
//-           li.nav-item(class=(title === 'Login') ? 'active' : undefined)
//-             a.nav-link(href='/login') Login
//-           li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
//-             a.nav-link(href='/signup') Create Account
//-         else
//-           li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
//-             a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
//-               if user.profile.picture
//-                 img(src=user.profile.picture)
//-               else
//-                 img(src=user.gravatar(60))
//-               span= user.profile.name || user.email || user.id
//-               i.caret
//-             ul.dropdown-menu
//-               li.dropdown-item
//-                 a(href='/account') My Account
//-               li.divider.dropdown-item
//-               li.dropdown-item
//-                 a(href='/logout') Logout


header.header
  .header_overlay
  .header_content.d-flex.flex-row.align-items-center.justify-content-start
    // Logo
    .logo
      a(href='#')
        | Undefined
        span Pet
        span +
    // Header Nav
    .header_right.d-flex.flex-row.align-items-center.justify-content-start.ml-auto
      nav.main_nav
        ul.d-flex.flex-row.align-items-center.justify-content-start
          li.active
            a(href='index.html') Início
          li
            a(href='#') Sobre nós
          //- li
          //-   a(href='listings.html') Listings
          //- li
          //-   a(href='blog.html') News
          li
            a(href='contact.html') Contato
      //- .add_listing.text-center.trans_200
      //-   a(href='#') +Add Listing
      .log_reg
        ul.d-flex.flex-row.align-items-center.justify-content-start
          li
            a(href='/login') Entrar
          li
            a(href='signup') Registrar
      .hamburger
        i.fa.fa-bars.trans_200

    

